header {
    display: flex;
    background-color: rgb(80, 156, 255);
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70px;
}

.social img {
    height: 35px;
}

#nombre {
    font-weight: bold;
}

#acerca-de {
    padding: 20px;
    text-align: center;
    background-color: rgb(151, 196, 255);
}